<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="com.wangzhf.rpc.netty.server" />

	<context:property-placeholder location="classpath:/netty/server/config-server.properties" />

	<!-- 配置服务注册组件 -->
	<bean id="serviceRegistry" class="com.wangzhf.rpc.netty.server.ServiceRegistry">
		<constructor-arg name="registryAddress" value="${registry.address}" />
	</bean>

	<!-- 配置RPC服务器 -->
	<bean id="rpcServer" class="com.wangzhf.rpc.netty.server.RpcServer">
		<constructor-arg name="serverAddress" value="${server.address}" />
		<constructor-arg name="serviceRegistry" ref="serviceRegistry" />
	</bean>

</beans>